@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Geist";
        font-weight: 100;

        src: url("../assets/fonts/geist/Geist-Thin.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        font-weight: 200;

        src: url("../assets/fonts/geist/Geist-UltraLight.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        font-weight: 300;

        src: url("../assets/fonts/geist/Geist-Light.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        font-weight: 400;
        font-style: normal;

        src: url("../assets/fonts/geist/Geist-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        font-weight: 600;

        src: url("../assets/fonts/geist/Geist-SemiBold.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        font-weight: 700;

        src: url("../assets/fonts/geist/Geist-Bold.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        font-weight: 800;

        src: url("../assets/fonts/geist/Geist-Black.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        font-weight: 900;

        src: url("../assets/fonts/geist/Geist-UltraBlack.woff2") format("woff2");
    }
}

@layer base {
    :root {
        --background: #ececec;
        --foreground: #000000;

        --primary: #b43635;

        /* Colors */
        --blue: #19A7CE;
        --green: #16a34a;
        --red: #dc2626;
        --yellow: #ca8a04;
        --purple: #9333ea;
        --orange: #ea580c;
        --gray: #71717A;
        --blue-opacity: rgba(57, 75, 102, 0.3);
        --green-opacity: rgba(102, 153, 136, 0.3);
        --red-opacity: rgba(255, 0, 0, 0.3);
        --yellow-opacity: rgba(255, 255, 0, 0.3);
        --purple-opacity: rgba(128, 0, 128, 0.3);
        --orange-opacity: rgba(255, 165, 0, 0.3);
        --gray-opacity: rgba(113, 113, 122, 0.3);

        /* Text */
        --text-primary: #000000;
        --text-secondary: #171718;

        /* Card */
        --card-background: #f7f6f6;
        --card-background-hover: #e7e6e6;

        /* Sidebar */
        --sidebar-primary: #f7f6f6;
        --sidebar-item-hover: #e7e6e6;
        --sidebar-item-active: #b43635;

        /* Search Bar */
        --search-bar-background: #e7e6e6;
        --search-bar-outline: #B7B7B7;
        --search-bar-outline-hover: #C4C4C4;
        --search-bar-outline-focus: #b43635;
        --search-bar-placeholder: #171718;

        /* Button */
        --button-background: #b43635;
        --button-background-hover: #932e2d;
        --button-outline: #C4C4C4;
        --button-outline-hover: #932e2d;

        /* Dialog */
        --dialog-background: #010D18;

        /* Table */
        --table-header: #1c1f22;
        --table-header-hover: #2b2e32;
        --table-body: #2b2e32;
        --table-body-hover: #26282b;

        /* Drawer */
        --drawer-background: #010D18;
        --drawer-input: #202429;
    }

    .dark {
        --background: #202429;
        --foreground: #FFFBE6;

        --primary: #19A7CE;

        /* Colors */
        --blue: #19A7CE;
        --green: #16a34a;
        --red: #dc2626;
        --yellow: #ca8a04;
        --purple: #9333ea;
        --orange: #ea580c;
        --gray: #71717A;
        --blue-opacity: rgba(57, 75, 102, 0.3);
        --green-opacity: rgba(102, 153, 136, 0.3);
        --red-opacity: rgba(255, 0, 0, 0.3);
        --yellow-opacity: rgba(255, 255, 0, 0.3);
        --purple-opacity: rgba(128, 0, 128, 0.3);
        --orange-opacity: rgba(255, 165, 0, 0.3);
        --gray-opacity: rgba(113, 113, 122, 0.3);

        /* Text */
        --text-primary: #FFFBE6;
        --text-secondary: #A1A1AA;

        /* Card */
        --card-background: #2b2e32;
        --card-background-hover: #202429;

        /* Sidebar */
        --sidebar-primary: #2b2e32;
        --sidebar-item-hover: #202429;
        --sidebar-item-active: #010D18;

        /* Search Bar */
        --search-bar-background: #010911;
        --search-bar-outline: #B7B7B7;
        --search-bar-outline-hover: #C4C4C4;
        --search-bar-outline-focus: #19A7CE;
        --search-bar-placeholder: #A1A1AA;

        /* Button */
        --button-background: #19A7CE;
        --button-background-hover: #146C94;
        --button-outline: #C4C4C4;
        --button-outline-hover: #146C94;

        /* Dialog */
        --dialog-background: #010D18;

        /* Table */
        --table-header: #1c1f22;
        --table-header-hover: #2b2e32;
        --table-body: #2b2e32;
        --table-body-hover: #26282b;

        /* Drawer */
        --drawer-background: #010D18;
        --drawer-input: #202429;
    }
}

@layer base {
    * {
        @apply m-0 border-border p-0 font-sans;
    }

    body {
        @apply overflow-hidden bg-background text-foreground;
    }

    .draglayer {
        @apply bg-transparent;
        -webkit-app-region: drag;
    }

    .nav-menu {
        @apply bg-transparent border-nav-border;
    }
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #157d9a !important;
        border-radius: 10px !important;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}